{% extends 'base.html' %}

{% block content %}
    <div>
        <div>
            <p>
                {{ target_user.date_joined }}
            </p>

            {% if target_user.profile %}
                <h2>
                    {{ target_user.profile.username }}
                </h2>
                {% if target_user.profile.image %}
                    <img src="{{ target_user.profile.image.url }}" alt="">
                {% else %}
                    <p>
                        no image
                    </p>
                {% endif %}
                {% if target_user.profile.message %}
                    <p>
                        {{ target_user.profile.message }}
                    </p>
                {% else %}
                    <p>
                        no message
                    </p>
                {% endif %}
                {% if target_user == user %}
                    <span>
                        <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
                            Edit
                        </a>
                    </span>
                    <span>
                        <a href="{% url 'accountapp:delete' pk=target_user.pk %}">
                            Quit
                        </a>
                    </span>
                {% endif %}
            {% else %}
                <h2>
                    {{ target_user.username }}
                </h2>
                <a href="{% url 'profileapp:create' %}">

                    <h2>
                        Create Profile
                    </h2>
                </a>
            {% endif %}
        </div>
    </div>

{% endblock %}