<table class="table table-bordered">
    <thread>
        <th scope="col">#</th>
        <th scope="col">title</th>
        <th scope="col">date</th>
        <th scope="col">place</th>
        <th scope="col">context</th>
        <th scope="col">created date</th>
    </thread>
    {% if object_list %}
        <script>
            var i=1;
        </script>
        {% for object in filter.qs %}
            <tbody>
                <tr>
                    <th scope="row">
                        <script>
                             document.write(i);
                             i++;
                        </script>
                    </th>
                    <td><a href="{{ object.get_absolute_url }}">{{ object.beer_name }}</a></td>
                    <td>{{ object.date }}</td>
                    <td>{{ object.place }}</td>
                    <td>{{ object.context }}</td>
                    <td>{{ object.create_at }}</td>
                </tr>
            </tbody>
        {% endfor %}
    {% else %}
        <div>
            스크랩이 없습니다
        </div>
    {% endif %}
</table>