{% load static %}
{% load bootstrap4 %}

{% block content %}

    <style>
        .nav{
            display:flex;
            flex-direction:row;
            justify-content: center;
        }
        .nav input{
            margin: 1rem;
            margin-bottom: 1.5rem;
        }
        .container div {
          width: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
        }
        .nav{
            display:flex;
            flex-direction:row;
            justify-content: center;
        }
        img{
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 1rem;
        }
    </style>
    <form method="get">
        {{ filter.form }}
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    {% if object_list %}
    <div class="container" style="text-align: center">
        {% for scrap in object_list %}
            <div>
                <a href="{% url 'scrapapp:detail' pk=scrap.pk %}">
                    {% include 'snippets/card_blocklist.html' with scrap=scrap %}
                </a>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <div style="text-align: center">
        <a href="{% url 'scrapapp:create' %}">
            스크랩 생성
        </a>
    </div>
    <script src="{% static 'javascript/magicgrid.js' %}"}></script>

    {% include 'snippets/pagination.html' with page_obj=page_obj %}
{% endblock %}