{% load static %}
{% load bootstrap4 %}

{% block content %}

    <style>
        .nav{
            display:flex;
            flex-direction:row;
            justify-content: center;
        }
        .nav input{
            margin: 1rem;
            margin-bottom: 1.5rem;
        }
        .container div {
          width: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
        }
        .nav{
            display:flex;
            flex-direction:row;
            justify-content: center;
        }
        img{
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 1rem;
        }
    </style>
    <form method="get">
        {{ object_list.form }}
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <div>
        <div class="nav">
            <input type="button" value="미리보기" onclick="
                document.querySelector('div.oneline').style.display = 'none';
                document.querySelector('div.block').style.display = 'block';
                magicGrid.positionItems();
            ">
            <input type="button" value="자세히" onclick="
                document.querySelector('div.oneline').style.display = 'block';
                document.querySelector('div.block').style.display = 'none';
            ">
        </div>
    </div>
    <div class="block" style="display: block">
        {% include 'listapp/list_block.html' with object=object %}
    </div>
    <div class="oneline" style="display: none">
        {% include 'listapp/list_oneline.html' with object=object %}
    </div>

    <script src="{% static 'javascript/magicgrid.js' %}"}></script>
{% endblock %}