<style>
    a {
        text-decoration: none;
        color: black;
    }

    #main_logo{
        text-align: center;
        font-size: 4rem;
        margin-top: 1.2rem;
        margin-bottom: 1.5rem;
        font-family: 'Arvo', serif;
    }
</style>

<div>
    <h1 id="main_logo">
        <a href="/">
            BeerNode
        </a>
    </h1>
    <center>
            {% if not user.is_authenticated %}
            <span>
                <a href="{% url 'accountapp:login' %}?next={{ request.path }}">Login</a>
            </span>
            <span>
                <a href="{% url 'accountapp:create' %}">Create account</a>
            </span>
            {% else %}
            <span>
                <strong>{{ user.username }}</strong>
            </span>
            <span>
                <a href="{% url 'accountapp:detail' pk=user.pk %}">Mypage</a>
            </span>
            <span>
                <a href="{% url 'accountapp:logout' %}?next={{ request.path }}">Logout</a>
            </span>
            {% endif %}
        </center>
    <hr>
</div>
