{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
    <style>
        .main {
            align-content: center;
            text-align: center;
            margin: 0px;
        }
    </style>


    <div class="main">
        <div>
            <h1>Scrapp 테스트</h1>
            <span>
                <a href="{% url 'scrapapp:create' %}">스크랩 생성</a>
            </span>
            <span>
                  |
            </span>
            <span>
                <a href="{% url 'scrapapp:detail' pk='1' %}">스크랩 세부사항</a>
            </span>
        </div>
        <div>
            <h1>Scraplistapp 테스트</h1>
            <span>
                {% if user.pk %}
                    <a href="{% url 'listapp:list' pk=user.pk %}">리스트 보기</a>
                {% endif %}
            </span>
        </div>
    </div>

{% endblock %}