{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div>
        <div class="mb-4" style="text-align:center;">
            <h4>
                계정 생성
            </h4>
        </div>
        <form action="{% url 'accountapp:create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {% bootstrap_field field %}
            {% endfor %}
            <input type="submit" class="btn bnt-primary">
        </form>
    </div>
{% endblock %}